<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>90204049835-0n5l2tqnvs4cc47upf4hc1k11sbi0svh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.90204049835-0n5l2tqnvs4cc47upf4hc1k11sbi0svh</string>
	<key>API_KEY</key>
	<string>AIzaSyAXQL5tz0trh3ZaISONdAfZYmeOnEmeb5g</string>
	<key>GCM_SENDER_ID</key>
	<string>90204049835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.crossCloud</string>
	<key>PROJECT_ID</key>
	<string>cloud-soho</string>
	<key>STORAGE_BUCKET</key>
	<string>cloud-soho.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:90204049835:ios:5ff873e52f535fc84942ee</string>
	<key>DATABASE_URL</key>
	<string>https://cloud-soho-default-rtdb.firebaseio.com</string>
</dict>
</plist>